<div x-data="{ addToListModal: false }">
    <div class="flex">
        <button @click="addToListModal = true" class="flex w-full justify-center items-center gap-1 self-stretch bg-primary text-sm rounded px-6 py-2 text-primary-foreground">
            <%= phosphor_icon "plus", class: "h-3.5 w-3.5" %>
            Add to List
        </button>
    </div>

    <div x-show="addToListModal" x-transition.opacity x-cloak class="fixed inset-0 z-40 bg-black/30 backdrop-blur-sm"></div>

    <div x-show="addToListModal" x-transition x-cloak class="fixed z-50 top-1/2 left-1/2 w-[90%] max-w-sm -translate-x-1/2 -translate-y-1/2 py-5 px-6 bg-white outline outline-1 rounded-xl shadow-lg space-y-4">
        <div class="flex justify-between items-center">
            <h2 class="text-xl font-semibold">Save album to list</h2>
            <button @click="addToListModal = false">
                <%= phosphor_icon "x", class: "h-5 w-5" %>
            </button>
        </div>
        <%= form_with url: add_album_to_playlist_path, method: :post, class: "space-y-4" do |form| %>
        <%= form.hidden_field :album_id, value: @album.id %>

        <div class="space-y-3">
            <div class="space-y-2 max-h-60 overflow-y-auto">
                <% if current_user.playlists.any? %>
                <% current_user.playlists.each do |playlist| %>
                <div class="flex items-center space-x-2 py-2">
                    <%= form.check_box "playlist_ids[]", 
                                    { class: "h-4 w-4 rounded border-gray-300 text-primary focus:ring-primary" }, 
                                    playlist.id, 
                                    nil 
                                %>
                    <%= form.label "playlist_ids_#{playlist.id}", playlist.playlist_name, class: "text-sm font-normal" %>
                </div>
                <% end %>
                <% else %>
                <p class="text-sm text-gray-500 text-center py-2">No playlists found. Create a new playlist first.</p>
                <% end %>
            </div>
        </div>

        <button type="submit" class="flex justify-center items-center w-full px-4 py-2 text-sm rounded-md bg-primary text-primary-foreground gap-1">
            <%= phosphor_icon "plus", class: "h-3.5 w-3.5" %>
            Add to Selected Lists
        </button>
        <% end %>
    </div>
</div>