<%= render(ModalComponent.new(id: "add-to-list-modal", size: :small, title: "Save album to list")) do |modal| %>
<%# Trigger slot %>
<% modal.with_trigger do %>
<button class="flex w-full justify-center items-center gap-1 self-stretch bg-primary text-sm rounded px-6 py-2 text-primary-foreground">
    <%= phosphor_icon "plus", class: "h-3.5 w-3.5" %>
    Add to List
</button>
<% end %>

<%# Body slot %>
<% modal.with_body do %>
<%= form_with url: add_album_to_playlist_path, method: :post, class: "space-y-4" do |form| %>
<%= form.hidden_field :album_id, value: @album.id %>

<%= render "page/shared/user_playlist_checkbox", form: form %>

<button type="submit" class="flex justify-center items-center w-full px-4 py-2 text-sm rounded-md bg-primary text-primary-foreground gap-1">
    <%= phosphor_icon "plus", class: "h-3.5 w-3.5" %>
    Add to Selected Lists
</button>
<% end %>
<% end %>
<% end %>