<%= render(ModalComponent.new(id: "add-song-to-playlist-modal-#{@song.id}", size: :small, title: "Save song to playlist")) do |modal| %>

<%= modal.with_trigger do %>
<button class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-8 w-8">
    <%= phosphor_icon "plus", class: "h-4 w-4" %>
</button>
<% end %>

<%= modal.with_body do %>
<%= form_with url: add_song_to_playlist_path, method: :post, class: "space-y-4" do |form| %>
<%= form.hidden_field :song_id, value: @song.id %>
<%= render "page/shared/user_playlist_checkbox", form: form %>
<button type="submit" class="flex justify-center items-center w-full px-4 py-2 text-sm rounded-md bg-primary text-primary-foreground gap-1">
    <%= phosphor_icon "plus", class: "h-3.5 w-3.5" %>
    Add to Selected Lists
</button>
<% end %>
<% end %>
<% end %>