<%= render(ModalComponent.new(id: "add-to-list-modal", size: :small)) do |modal| %>
<%# Trigger slot %>
<% modal.with_trigger do %>
<button class="flex w-full justify-center items-center gap-1 self-stretch bg-primary text-sm rounded px-6 py-2 text-primary-foreground">
    <%= phosphor_icon "plus", class: "h-3.5 w-3.5" %>
    Add to List
</button>
<% end %>

<%# Header slot %>
<% modal.with_header do %>
<div class="flex justify-between items-center">
    <h2 class="text-xl font-semibold">Save album to list</h2>
    <button @click="open = false">
        <%= phosphor_icon "x", class: "h-5 w-5" %>
    </button>
</div>
<% end %>

<%# Body slot %>
<% modal.with_body do %>
<%= form_with url: add_album_to_playlist_path, method: :post, class: "space-y-4" do |form| %>
<%= form.hidden_field :album_id, value: @album.id %>

<div class="space-y-3">
    <div class="space-y-2 max-h-60 overflow-y-auto">
        <% if current_user.present? %>
        <% current_user.playlists.each do |playlist| %>
        <div class="flex items-center space-x-2 py-2">
            <%= form.check_box "playlist_ids[]", 
                                { class: "h-4 w-4 rounded border-gray-300 text-primary focus:ring-primary" }, 
                                playlist.id, 
                                nil 
                %>
            <%= form.label "playlist_ids_#{playlist.id}", playlist.playlist_name, class: "text-sm font-normal" %>
        </div>
        <% end %>
        <% else %>