<div class="rounded-lg border bg-white shadow-sm">
  <% @albums.each do |album| %>
    <div class="flex py-1 last:pb-0 border-b last:border-0">
      <div class="flex w-full items-start px-4 py-3 gap-6">
        <img src="<%= album.album_image_url %>" alt="<%= album.name %>" class="rounded-sm h-52 w-52"/>
        <div class="flex flex-col py-1 gap-1 text-xl font-medium items-stretch flex-1">
          <div class="flex flex-row justify-between">
            <h1 class="px-3"><%= album.name %></h1>
            <button class="flex flex-row py-1 px-1 gap-1 rounded-lg border items-center justify-center text-sm font-medium">
              <%= phosphor_icon "plus", class: "h-3.5 w-3.5" %>
              Add new song
            </button>
          </div>
          <% if album.songs.present? %>
            <div class="flex flex-col text-base w-full font-normal py-1 rounded-lg border bg-white shadow-sm">
              <% album.songs.each do |song| %>
                <div class="flex items-center justify-between py-1.5 px-2.5 last:pb-0 border-b last:border-0"><%= song.title %>
                  <div class="flex items-center gap-2">
                    <div class="inline-flex items-center justify-center p-1.5 text-gray-600 hover:text-blue-600 hover:bg-blue-50 rounded-md transition-colors" do %>
                      <%= phosphor_icon "pencil", class: "h-4 w-4" %>
                    </div>
                    <button class="inline-flex items-center justify-center p-1.5 text-gray-600 hover:text-red-600 hover:bg-red-50 rounded-md transition-colors">
                      <%= phosphor_icon "trash", class: "h-4 w-4" %>
                    </button>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
