<div class="space-y-6 max-w-6xl mx-auto">
    <div class="space-y-4">
        <div class="space-y-2">
            <div class="flex items-center justify-between">
                <h1 class="text-3xl font-bold tracking-tight"><%= @playlist.playlist_name %></h1>
                <%= button_to playlist_path(@playlist.id), method: :delete, class: "inline-flex items-center justify-center gap-2 px-3 py-1.5 text-sm font-medium transition-colors rounded-md hover:bg-red-100 text-red-600 hover:text-red-600", data: { confirm: "Are you sure you want to delete this playlist?" } do %>
                <%= phosphor_icon "trash", class: "h-4 w-4" %>
                <span>Delete Playlist</span>
                <% end %>
            </div>
            <p class="text-sm text-muted-foreground leading-relaxed"><%= @playlist.songs.count %> songs</p>
        </div>

        <div class="prose prose-sm text-black max-w-none">
            <p>The first installment in my massive progressive rock listening list, which hopes to provide an outline of
                what constitutes a "comprehensive" prog rock collection. This particular list covers "classic era" Progressive Rock,
                and is restricted to bands who released their most significant work during the prog rock heyday of the late-60's
                through the late-70's. For prog rock artists who didn't begin releasing albums after that time, see my
                accompanying Modern Progressive Rock. I've also omitted most artists who are more commonly associated with the
                Krautrock movement, the jazz rock scene, or with the avant-prog/Rock In Opposition movements.</p>
        </div>
    </div>

    <%= render SongListComponent.new(songs: @playlist.songs, playlist: @playlist) %>
</div>