<h2 class="text-black text-2xl font-semibold">
    <%= @user.username %>
</h2>

<div class="text-black text-sm"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. </div>

<h3 class="flex flex-row justify-between text-black text-2xl font-semibold py-6">
    <%= @user.username %> Playlists
</h3>
<%= render UserListComponent.new(current_user: @user) %>


<h3 class="flex flex-row justify-between text-black text-2xl font-semibold py-6">
    <%= @user.username %> Reviews
</h3>
<div class="flex flex-col gap-4">
    <%= render ReviewlistComponent.new(reviews: @user.reviews) %>
</div>