<%= render SortByComponent.new(selected: params[:sort]) %>
<%= render SearchByComponent.new(selected: params[:search_by]) %>
<%= render FilterByComponent.new(selected: params[:filter_by], variant: :rating) %>
<%= render FilterByComponent.new(selected: params[:filter_by], variant: :genre) %>
<%= render SearchBoxComponent.new(form_path: search_path) %> <% if @albums.present? %> <%= @albums.each do |album| %> <h1> <%= album.name %></h1>
<% end %>
<% else %>
<h1>No album founds</h1>
<% end %>