<div class="px-6 py-8 flex flex-col gap-4 outline outline-1 outline-slate-200">
  <div class="flex flex-col gap-3">
    <div>
      <h1 class="text-black text-lg font-semibold">About AlbumNest</h1>
      <p class="text-muted-foreground text-xs">Discover your next favorite album with personalized recommendations and
        curated lists.
      </p>
    </div>
    <div class="flex flex-col gap-1">
      <h2 class="font-semibold text-md">
        Quick Links
      </h2>
      <div>
        <div class="flex flex-col gap-1.5">
          <%= link_to "Home", root_path, class: "text-muted-foreground text-xs hover:text-foreground transition-colors" %>
          <%= link_to "Discover Albums", search_path, class: "text-muted-foreground text-xs hover:text-foreground transition-colors" %>
          <%= link_to "My Playlists", list_index_path, class: "text-muted-foreground text-xs hover:text-foreground transition-colors" %>
          <% if user_signed_in? %>
            <%= link_to "My Profile", profile_path(current_user.username), class: "text-muted-foreground text-xs hover:text-foreground transition-colors" %>
            <% if admin_user? %>
              <%= link_to "Admin Panel", admin_home_path, class: "text-muted-foreground text-xs hover:text-foreground transition-colors" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p class="text-muted-foreground text-xs">© 2025 AlbumNest. All rights reserved.</p>
  </div>
</div>